<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="./f-di-bind.html">

<!--

# Declarative dependency injection for Polymer elements

### f-di-config

`<f-di-config>` is an element to put your bindings into. Fires `'f-di-config-ready'` event when all bindings finish their initialization.

### f-di-bind

[`<f-di-bind>`](#f-di-bind) is an element to specify a binding from specified key to element tag name.

If there are multiple bindings with the same key, only the lastly initialized one will work.
This means that you can change dependency injection dynamically for newly imported elements.
However, it will NOT change elements that are already registered.

To make dependency injection trully dynamic you may also use Polymer's binding expressions to `key` and/or `to` properties.
If used inside `<f-di-config>` it will wait until both properties are available before firing ready event.

### f-di

`<f-di>` is a placeholder element, that does nothing. It's not even registered as a custom element.

Use `<f-di key="DependencyKey">` where you want dependecy injection to happen.

#### Preconditions:
  - Parent element must use [`FBehaviors.DI`](#FBehaviors.DI) behavior.
  - Dependency with specified key is configured with `<f-di-bind>` prior to registering parent element.
  This means that you will have to do lazy-loading, as calling Polymer({...}) invokes the registration.

It will copy over all attributes that you put on `<f-di>`. All Polymer's effects (e.g. bindings, events) should work as if you put them on injected element.

### FBehaviors.DI

[`FBehaviors.DI`](#FBehaviors.DI) is a Polymer behavior to enable dependency injections.

## Example:

`...` means that it's some code irrelevant to this example.

### elements.html

    <dom-module id="my-app">
      <template>
        <f-di f-di-key="AuthProvider" some-auth-property="{{someAppProperty}}"></f-di>
    ...

    Polymer({
      is: 'my-app',
      behaviors: [FBehaviors.DI],
      ...
    });

    Polymer({
      is: 'my-auth-provider',
      ...
    });

### index.html

    <link rel="import" href="bower_components/f-di/f-di-config.html">

    <script>
      // Lazy load application elements when DI has finished setup.
      // Your elements will then be registered with template that has
      // all <f-di> elements upgraded to elements specified in <f-di-bind>
      document.addEventListener('f-di-config-ready', function() {
        var link = document.createElement('link');
        link.setAttribute('rel', 'import');
        link.setAttribute('href', 'elements.html');
        this.querySelector('head').appendChild(link);
        // If you're planning to do any more <f-di-config> later,
        // you should probably `removeEventListener`.
      });
    </script>

    <f-di-config>
      <f-di-bind key="AuthProvider" to="my-auth-provider"></f-di-bind>
      <f-di-bind ...></f-di-bind>
    </f-di-config>

    <my-app></my-app>

@demo demo/index.html
-->
<dom-module id="f-di-config">
  <template>
    <content></content>
  </template>
  <script>
    Polymer({
      is: 'f-di-config',

      listeners: { 'f-di-bind': '_bind' },

      created: function() {
        this._numBinds = 0;
      },

      _bind: function(e) {
        // Fire `f-di-config-ready` only when all bindings initialize
        if (this.getEffectiveChildren().length === ++this._numBinds) {
          this.fire('f-di-config-ready');
        }
        e.stopPropagation();
      }
    });
  </script>
</dom-module>
